<div>Video Stats</div>
<!-- <div class="card">
  <div class="card-content">
    <div class="card-title">Views Breakdown</div>
    <div>
      <span>Region:</span>
      <div class="chip">All</div>
      <span
        >Date Range:
        <div class="chip">1/1/95</div>
        <div class="chip">4/13/21</div></span
      ><span>
        Age Groups: <span class="chip"> Minors </span
        ><span class="chip"> Adults </span
        ><span class="chip"> Middle Aged </span
        ><span class="chip"> Retired </span
        ></span
      >
    </div>
    <p>Views by age</p>
    <svg width="550" height="245">
      <line
        x1="50"
        x2="50"
        y1="1"
        stroke-width="1"
        stroke="black"
        y2="200"
      ></line>
      <line
        x1="50"
        x2="499"
        stroke-width="1"
        stroke="black"
        y1="200"
        y2="200"
      ></line>
      <text x="1" y="100">Views</text>
      <text x="240" y="225">Age</text>
      <text x="105" y="214">30</text>
      <text x="229" y="214">32</text>
      <text x="353" y="214">36</text>
      <text x="477" y="214">54</text>
      <line
        stroke-width="1"
        stroke="black"
        y1="0"
        x1="112"
        x2="112"
        y2="207"
      ></line>
      <line
        stroke-width="1"
        stroke="black"
        y1="0"
        x1="236"
        x2="236"
        y2="207"
      ></line>
      <line
        stroke-width="1"
        stroke="black"
        y1="0"
        x1="360"
        x2="360"
        y2="207"
      ></line>
      <line
        stroke-width="1"
        stroke="black"
        y1="0"
        x1="484"
        x2="484"
        y2="207"
      ></line>
      <rect
        stroke="black"
        fill="#4439a0"
        x="50"
        y="100"
        width="124"
        height="100"
      ></rect>
      <rect
        stroke="black"
        fill="#4439a0"
        x="174"
        y="0"
        width="124"
        height="200"
      ></rect>
      <rect
        stroke="black"
        fill="#4439a0"
        x="298"
        y="100"
        width="124"
        height="100"
      ></rect>
      <rect
        stroke="black"
        fill="#4439a0"
        x="422"
        y="100"
        width="124"
        height="100"
      ></rect>
      <text stroke="white" x="105" y="115">1</text>
      <text stroke="white" x="229" y="15">2</text>
      <text stroke="white" x="353" y="115">1</text>
      <text stroke="white" x="477" y="115">1</text>
    </svg>
  </div>
</div> -->
